<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
	
<listeners>
	<listener class-name="OmkarIngale.TestComponents.Listeners"></listener>
</listeners>

  <test thread-count="5" name="Amazon Workflow Test">
    <classes>
      <class name="amazonTest.amazonShoppingWorkflow"/>
    </classes>
  </test> <!-- Amazon Workflow Test -->
</suite> <!-- Test Suite -->
